body{
    background-color: white;
}

.gimage img {
    padding-top: 7%;
    height: 16%;
    width: auto;
  }
.navbar a:hover{
    text-decoration: underline;
}
.navbar{
    padding-top:1%;
    text-decoration: none;
    text-align: end;
    font-size: 13.5;
    white-space: nowrap;
    color:rgba(0,0,0,0.87);
    cursor: pointer;
    white-space: nowrap;
    background-image: url('//ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    font-family: arial,sans-serif;
}

.navbar a.active {
    color: #2196F3;
  }
.navbar a{
    padding-right: 1%;
}

input{
    float: center;
    width: 35%;
    height: 6%;
    border:2px  black;
    box-shadow: 0px 0px 2px #757575;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 5px 5px 25px;
  }
  input:hover{
    box-shadow: 0px 1px 8px #b8b8b8;

  }
  button{
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;

    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  button:hover{
    box-shadow: 0px 1px 6px #b8b8b8;

  }